/*
@import './main.css';
@import './splash.css';
@import './map.css';
@import './nav.css';
@import './restaurant.css';
@import './cart.css'; */

@import './vars.css';

html,
body {
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}
