html,
body {
  padding: 0;
  margin: 0;
}

.app-bar--header {
  flex: 1;
}

.fabs {
  position: fixed;
  bottom: 35px;
  right: 25px;
  display: flex;
}

.fabs > * {
  margin-left: 16px;
}

.fabs > *:empty {
  margin-left: 0;
}
