#restaurant {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: auto;
  /* z-index: 99; */
  position: fixed;
  top: 0;
}

.player {
  position: absolute;
  top: var(--app-bar-height);
  left: 0;
  width: 100%;
  height: 100%;
}

.video-parallax-container {
  position: relative;
  height: 580px;
}

.video-parallax-wrapper {
  position: fixed;
  width: 100%;
}

.menu {
  background-color: rgba(255, 255, 255, 0.7);
}

.menu-cards {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 20vh;
}

.menu-list-wrapper {
  background-color: white !important;
}

.menu-chip {
  margin-right: 12px;
}

.menu-pizza-image {
  height: 0;
  padding-top: 56.25%;
}

.menu-title {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.quantity-chip {
  margin-left: 12px;
  margin-right: 12px;
}

.menu-grid-item-image {
  width: 40%;
}

.pizza-icon {
  animation: blink 3s ease-out infinite;
}

@keyframes blink {
  0% {
    height: 80px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 80px;
  }
}

@media (max-device-width: 500px) {
  .video-parallax-container {
    height: 230px;
  }
  .player {
    position: relative;
  }
}
