/*
  Material UI app bar title should stretch in order to push the icons to the right
*/
.app-bar--header {
  flex: 1;
}

/*
  Group all FABs and absolute position them on the screen
*/
.fabs {
  position: fixed;
  bottom: 35px;
  right: 25px;
  display: flex;
  /* background-color: rgba(255, 255, 255, 0.7); */
  border-radius: 8px;
  padding: 8px;
}

/*
  Add spacing between FABs
*/

.fabs > * {
  margin-left: 16px;
}

/*
  Disable spacing for conditionnally-visible FABS (such as the Cart Icon)
*/

.fabs > *:empty {
  margin-left: 0;
}

/*
  Container for the map
*/

.map-container {
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-out;
  position: fixed;
  top: var(--app-bar-height);
}
